.navbar-nav.navbar-right:last-child {
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 32px;
  margin: 0;

  .logo {
    display: inline;
    width: 25px;
    margin-top: -5px;
  }

  .current-version {
    font-size: 18px;
  }
}

.navbar {
  margin-bottom: 0;
}